* {
    margin: 0;
    padding: 0;
}

header, main, footer {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

section {
    min-height: 450px;
    padding: 5em;
}

/* --- General style end --- */

/* --- Header style --- */

nav {
    height: 100px;
    float: right;
}

nav ul {
    height: auto;
    display: flex;
    list-style-type: none;
    color: #522920;
    margin-top: 1.2em;
    font-size: 1.2em;
    font-weight: 700;
}

nav ul li {
    margin-right: 80px;
}

#welcome {
    padding: 8em;
    /* display: flex; */
}

#welcome-text {
    width: 80%;
    
}
/* --- End Header --- */

.lite {
    background-color: #ececec;
}

.dark {
    background-color: #522920;
}

footer {
    height: 250px;
}