* {
    margin: 0;
    padding: 0;
}

header, main, footer {
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.1em;
}

section {
    min-height: 400px;
    padding: 5em;
}

section p {
    margin-bottom: 2em;
}

h2 {
    padding: 22px 0;
    font-size: 2em;
}

.lite {
    background-color: #ececec;
}

.dark {
    /* background-color: #4e0e00; */
    color: #fff;
}

/* --- General style end --- */

/* --- Header style --- */

nav {
    height: 100px;
    float: right;
}

nav ul {
    height: auto;
    display: flex;
    list-style-type: none;
    color: #522920;
    margin-top: 1.2em;
    font-size: 1.4em;
    font-weight: 700;
}

nav ul li {
    margin-right: 80px;
}

#welcome {
    padding: 8em;
    /* display: flex; */
}

#welcome-text {
    width: 80%;
    
}
/* --- End Header --- */

#order {
    text-align: center;
    background-color: #5C80BC;
    color: #ececec;
    box-shadow: 10px 10px 5px #aaa initial;
}

#items {
    background-color: #43151e;
    margin: 0 1em;
    border-radius: 15px;
    justify-content: center;
    justify-items: center;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
}

.item-body img {
    width: 60%;
    height: 70%;
}

article.item-tile {
    width: 20%;
    height: 20%;
    border-radius: 8px;
    margin: 3vh;
    text-align: center;
    overflow: hidden;
    background: #E9EDDE;
    color: #4D5061;
    border: 1px solid #aaa;
}

.item-heading {
    height: auto;
    padding: 20px;
    font-size: 1.5em;
    font-weight: bold;
}

.item-body img {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    height: 200px;
    border-radius: 1%;
}

/* --- End orders sectoin --- */

#about img {
    margin: 1em;
    width: 90%;
    height: 80%;
}

#service {
    display: flex;
}

#service article {
    margin: 0 auto;
    width: 25%;
    text-align: center;
}

#service article i{
    font-size: 3em;
    padding: 10px;
}

#service article {
}

#gallery {
    background-color: #581000;
}

/* --- Start footer --- */
footer {
    height: 250px;
    background-color: #240700;
    display: flex;
}

footer article h3 {
    margin-bottom: 0.5em;
}

footer article {
    width: 24%;
    padding: 1em;
    margin: 1em auto;
}

footer article p {

}