* {
    margin: 0;
    padding: 0;
}

header, main, footer {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.1em;
}

section {
    min-height: 400px;
    padding: 5em;
}

section p {
    margin-bottom: 2em;
}

h2 {
    padding: 22px 0;
    font-size: 2em;
}

.lite {
    background-color: #ececec;
}

.dark {
    background-color: #522920;
    color: #fff;
}

/* --- General style end --- */

/* --- Header style --- */

nav {
    height: 100px;
    float: right;
}

nav ul {
    height: auto;
    display: flex;
    list-style-type: none;
    color: #522920;
    margin-top: 1.2em;
    font-size: 1.4em;
    font-weight: 700;
}

nav ul li {
    margin-right: 80px;
}

#welcome {
    padding: 8em;
    /* display: flex; */
}

#welcome-text {
    width: 80%;
    
}
/* --- End Header --- */

#order {
    background-color: #ad2102;
    text-align: center;
    color: #ececec;
}

#tastes {
    margin-top: 1.5em;
    display: flex;
}

#tastes img {
    margin: 0 1em;
    width: 60%;
    height: 70%;
}

#about img {
    margin: 1em;
    width: 90%;
    height: 80%;
}

#service {
    display: flex;
}

#service article {
    margin: 0 auto;
    width: 25%;
    text-align: center;
}

#service article i{
    font-size: 3em;
    padding: 10px;
}

#service article {
}

footer {
    height: 250px;
}